=link_to "Home", root_url
=link_to "Enter Data", days_url
-if user_signed_in?
  =link_to "Logout", destroy_user_session_url
  =link_to "Account Settings", edit_user_registration_url
-else
  =link_to "Login", new_user_session_url
  =link_to "Register", new_user_registration_url
